@model IEnumerable<WebAppECart.Models.OrderDetail>

@{
    ViewBag.Title = "Receipt";
}
@{
    decimal TotalPrice = 000;
    string ordername = "";
 }
<br />
<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>T`s  Fast Food</strong>
                        <br>
                        Berea center
                        <br>
                        Durban 4001
                        <br>
                        <abbr title="Phone">P:</abbr> +27 65 724 6328
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date:@String.Format("{0:dd-MMM-yyyy\t\tHH:mm}", DateTime.Now)</em>
                    </p>
                    <p>
                        @foreach (var item in Model)
                        {
                            if (ordername =="")
                            {
                                ordername = item.Order.OrderNumber;
                            }
                        }
                        <em>Order Number:@ordername</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quntity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            TotalPrice += (decimal)item.Total;
                            ordername += item.Order.OrderNumber;
                         <tr> 
                                <td class="col-md-9"> <h4><em> @Html.DisplayFor(modelItem => item.Item.ItemName)</em></h4></td>
                                <td class="col-md-1" style="text-align: center">@Html.DisplayFor(modelItem => item.Quantity) </td>
                                <td class="col-md-1 text-center">@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                <td class="col-md-1 text-center">@Html.DisplayFor(modelItem => item.Total)</td>
                             <td class="col-md-1 text-center">@Html.DisplayFor(modelItem => item.Total)</td>
                          </tr>
                        }
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td class="text-right">
                                    <p>
                                        <strong> </strong>
                                    </p>
                                    <p>
                                        <strong> </strong>
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <strong></strong>
                                    </p>
                                    <p>
                                        <strong></strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td class="text-right"><h4><strong>Total: </strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>@String.Format("R{00,00}", TotalPrice)</strong></h4></td>
                            </tr>
                        </tbody>
                </table>
                <button type="button" class="btn btn-success btn-lg btn-block">
                    Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
                </button></td>
            </div>
        </div>
    </div>
